<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>

<body>
    {% extends 'index.html' %} {% block body %}
    <form action="/signup" method="post">
        {% csrf_token %}
        {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% endif %}
        <div class="form-group">
            <label for="exampleInputPassword1" >Username</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="username" name="username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" name="email"><br><br><br>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div><br><br>
        <div class="form-group">
            <label for="exampleInputPassword1" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passsword">
        </div>
        {% comment %} <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div><br><br> {% endcomment %}
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
    </form>
    {% endblock body %}
</body>

</html>